.profile-circle {
    width: 40px;
    height: 40px;
    background-color: #70b2b1;
    /* צבע רקע */
    color: white;
    /* צבע טקסט */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* יוצר עיגול */
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.profile-circle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}